@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-inter:'Libertinus Seri', 'sans-serif'
}

html {
  scroll-behavior: smooth;
  transition: all ease-in ;
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
}
